/* 

Backend and The Design Pill v1
Ministry of sports 2014


*/


/* ==========================================================================
   Main css structure
   ========================================================================== */

/**
 * Body
 */

body {
    color:#5c5c5c;
		padding: 0 0 20px 0;
		font-family: 'Roboto', sans-serif;
    background: #fff;
}


a {
    text-decoration: none;
    color: #222;
		-webkit-transition: color 200ms ease, background-color 200ms ease,
		text-shadow 200ms ease, box-shadow ease,
		border 200ms ease;
		
    transition: color 200ms ease, background-color 200ms ease, text-shadow 200ms ease,
		box-shadow 200ms ease, border 200ms ease;
}

a:hover {
    color: #111;
    text-decoration: none;
}

/* ==========================================================================
   Wrappers and Containers
   ========================================================================== */


#page-outer-wrap {
		postition:relative;
		width:100%;
		overflow:hidden;
}

#page-inner-wrap {
    position: relative;
    width: 100%;
}

.relative {
    position: relative;
}

.container {
    padding: 0;
}

.container  .img-responsive {
    display: block;
    width: 100%;
    max-height: 100%;
}

#page-content {
    position: relative;
    overflow: hidden; 
    margin: 30px 0 0 0;
    padding: 0;
    -webkit-box-shadow: 0 0 12px 0 #333333;
    box-shadow: 0 0 12px 0 #ccc;
}

.ie8 #page-content {
    border: 1px solid #e3e3e3;
    margin: 30px -1px 0 -1px;
}

#main {
    padding: 10px;
}

#main.wide {
    float: none;
    width: 100%;
}

#sidebar {
    color: #bbb;
    background: #444;
    padding: 15px;
}

.section-full {
    margin: 0 -15px 0 -15px;
    padding: 45px 15px 0 15px;
}

.section-full-even {
    margin: 0 -15px 0 -15px;
    padding: 15px 15px 0 15px;
}


